:root {
    font-size: 64.5%;
    font-family: 'Geologica', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
}
/* -------------------------------GLOBAL------------------------------- */


.wrapper_login {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title h1 {
    color: white;
    font-size: 5rem;

    font-weight: 800;
}

.login {
    width: 40rem;
    height: 60rem;
    background-color: rgb(184, 178, 171);
    display: flex;
    flex-direction: column;
    
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
    
}
.login form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.login img{
position: relative;
bottom: 8rem;
}
.login input:focus {
    outline: none;


}
#inputUser{
    background: none!important;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    width: 100%;
    letter-spacing: 1px;
}
.inputBox {
    position: relative;
}
.labelInput {
position: absolute;
top: 0;
left: 0;
pointer-events: none;
transition: .5s;
}
#inputUser:focus ~ .labelInput,
#inputUser:valid ~ .labelInput
 {
    top: -20px;
    left: -1rem;
    transform: scale(.8);
    color: rgb(7, 7, 97);
}

#input_logar {
    height: 4rem;
    
    border: none;
    border-radius: 4rem;

    background-color: green;
    color: white;

    cursor: pointer;

    position: relative;
    bottom: -5rem;
    
}
#input_logar:hover {
    background-color: rgb(0, 92, 0);
    transition: 300ms;
}


/* -------------------------------FIM_GLOBAL------------------------------- */

/* -------------------------------Cadastro_produto------------------------------- */
.form_cadastro_produto form {
    width: 100%;

    padding-inline: 4rem;
}
.form_cadastro_produto form p {
    font-size: 1rem;
}
.qtd_nota {
    display: flex;
    gap: 3rem;
}

.all_divs_form_cadastro_prod {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.all_divs_form_cadastro_prod p {
    position: relative;
    left: 2rem;
    
}
#cadastro_prod {
    height: 4rem;
    
    border: none;
    border-radius: 4rem;

    background-color: green;
    color: white;

    cursor: pointer;

    position: relative;
    bottom: -2rem;
}
#cadastro_prod:hover {
    background-color: rgb(0, 92, 0);
    transition: 300ms;
}
.form_cadastro_produto img{
    position: relative;
    bottom: 4rem;
    }













/* -------------------------------fim- Cadastro_produto------------------------------- */