:root {
    font-size: 64.5%;
    font-family: 'Geologica', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
}

.wrapper_login {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login {
    width: 40rem;
    height: 60rem;
    background-color: rgb(184, 178, 171);
    display: flex;
    flex-direction: column;
    
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
    
}
.login form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.login img{
position: relative;
bottom: 8rem;
}
.login input:focus {
    outline: none;


}
.login input {
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc;
    border: 1px solid #000000;

}

.input_logar {
    height: 4rem;
    
    border: none;
    border-radius: 4rem;

    background-color: green!important;
    color: white;

    cursor: pointer;

    position: relative;
    bottom: -5rem;
    
}
.input_logar:hover {
    background-color: rgb(0, 92, 0);
    transition: 300ms;
}
#email,
#senha {
    height: 4rem;

    padding-left: 2rem;

    border-radius: 2rem;
    border: none;
}


/* -------------------------------Cadastro_produto------------------------------- */
.form_cadastro_produto form {
    width: 100%;

    padding-inline: 4rem;
}
.form_cadastro_produto form p {
    font-size: 1rem;
}
.qtd_nota {
    display: flex;
    gap: 3rem;
}

.all_divs_form_cadastro_prod {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.all_divs_form_cadastro_prod p {
    position: relative;
    left: 2rem;
    
}
#cadastro_prod {
    bottom: -2rem;
    border: none;
    border-radius: 4rem;

    background-color: green;
    color: white;
}
#cadastro_prod:hover {
    background-color: rgb(0, 92, 0);
    transition: 300ms;
}
.form_cadastro_produto img{
    position: relative;
    bottom: 4rem;
    }













/* -------------------------------fim- Cadastro_produto------------------------------- */